.contacto{
    width: 940px;
    margin: 0 auto;
}

.formularioDatos{
    margin: 40px 0px;
}

.formularioDatos label, .formularioDatos legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputTexto{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.horario{
    margin-top: 10px;
}

.formularioDatos .checkbox{
    margin: 20px 0;
}

.enviar{

    width: 40%;
    padding: 15px 0;

    font-size: 18px;
    font-weight: bold;

    color: rgb(255, 255, 255);
    background-color: orange;

    border-radius: 5px;

    transition: 1s all; /* para hacer la transición del color de fondo en 1 segundo */

    cursor: pointer; /* cambia el mouse normal por un mano con un dedito apuntando*/
}

.enviar:hover{
    background-color: darkorange;
    color: black; 
    transform: scale(1.1);
    /* transform: rotate(180deg); rotar lo q sea en grados */
}

.elecciones, .horario{
    border: none;
}

.horariosDeAtencion{
    margin: 40px 40px;
    border: none;
}

.horariosDeAtencion thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

.horariosDeAtencion td, th{
    border: 1px solid black;
    padding: 8px 15px;
}